<nav>
  <a href="/users">Users</a>
  <a href="/photos">Photos</a>
  <% if current_user %>
    <a href="/users/sign_out">Sign out</a>
  <% else %>
    <a href="/users/sign_in">Sign in</a>
    <a href="/users/sign_up">Sign up</a>
  <% end %>
</nav>

<p><%= notice %></p>
<p><%= alert %></p>
