  <h1>Edit your profile</h1>

   <form id="edit_user" action="/users" method="post">
     <label for="username_field">Username</label><br>
     <input
       id="username_field"
       type="text"
       name="username"
       value="<%= current_user.username %>"
     ><br>

     <label for="current_pw_field">Current password</label><br>
     <input id="current_pw_field" type="password" name="current_password"><br>

     <input type="submit" value="Update">
   </form>
