<h1>New Comment</h1>
<form action="/comments/create" method="post">
  <div class="mb-3">
    <label for="photo_id_field" class="form-label">Photo ID</label>
    <input id="photo_id_field" name="photo_id" type="number" class="form-control">
  </div>
  <div class="mb-3">
    <label for="body_field" class="form-label">Body</label>
    <input id="body_field" name="body" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Create</button>
</form>
