<h1>New Follow Request</h1>
<form action="/follow_requests/create" method="post">
  <div class="mb-3">
    <label for="recipient_id_field" class="form-label">Recipient User ID</label>
    <input
      id="recipient_id_field"
      name="recipient_id"
      type="number"
      class="form-control"
    >
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
