<h1>New Like</h1>
<form action="/likes/create" method="post">
  <div class="mb-3">
    <label for="photo_id_field" class="form-label">Photo ID</label>
    <input id="photo_id_field" name="photo_id" type="number" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Like</button>
</form>
