<h1>All Users</h1>
<ul class="list-group">
  <% @list_of_users.each do |u| %>
    <li class="list-group-item">
      <%= u.username %>
      (<%= u.private ? "Private" : "Public" %>)
      <a href="/users/<%= u.id %>">View Profile</a>
    </li>
  <% end %>
</ul>
