<h1>Welcome to Photogram</h1>

<ul>
  <li><a href="/users">All users</a></li>
  <li><a href="/photos">All public photos</a></li>

  <% if user_signed_in? %>
    <li><a href="/users/sign_out" data-method="delete">Sign out</a></li>
  <% else %>
    <li><a href="/users/sign_in">Sign in</a></li>
    <li><a href="/users/sign_up">Sign up</a></li>
  <% end %>
</ul>

