<h1>Edit Photo</h1>
<form action="/photos/<%= @the_photo.id %>/update" method="post">
  <div class="mb-3">
    <label for="image_field" class="form-label">Image URL:</label>
    <input
      id="image_field"
      name="image"
      type="text"
      value="<%= @the_photo.image %>"
      class="form-control"
    >
  </div>
  <div class="mb-3">
    <label for="caption_field" class="form-label">Caption:</label>
    <input
      id="caption_field"
      name="caption"
      type="text"
      value="<%= @the_photo.caption %>"
      class="form-control"
    >
  </div>
  <button type="submit" class="btn btn-warning">Update</button>
</form>
<a href="/photos/<%= @the_photo.id %>" class="btn btn-link">Cancel</a>
