<h2>Edit Photo</h2>

<%= form_with(model: @photo, url: photo_path(@photo), method: :patch) do |form| %>
  <p>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </p>

  <%= form.submit "Update photo" %>
<% end %>
