<form action="/photos/create" method="post" enctype="multipart/form-data">
  <label for="image_field">Image</label>
  <input id="image_field" type="file" name="image" />

  <label for="caption_field">Caption</label>
  <input id="caption_field" type="text" name="caption" />

  <button>Add photo</button>
</form>
